<app-show-unit></app-show-unit>



<!-- <div class="row ">
    <div class="col-sm-6">
        <div class="row" style="padding:15px">
            <div class="col-sm-2">
                <h2>ItemUnitId</h2>
            </div>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="ItemUnitId">
            </div>
        </div>

    </div>


    <div class="col-sm-6">
        <div class="row" style="padding:15px">
            <div class="col-sm-2">
                <h2>ItemUnit</h2>
            </div>
            <div class="col-sm-10">
                <input type="text" #box (keyup)="unitcase(box.value)" class="form-control" placeholder="ItemUnitId">
                <select name="" id="" class="form-control">
                    <option value=""  ><button (click)="unitcase()" > Case</button></option>
                </select> 
            </div>
        </div>

    </div>

</div>


    <div class="row" style="padding:15px" *ngIf="parentidinput">
        <div class="col-sm-2">
            <h2>ParentId</h2>
        </div>
        <div class="col-sm-10">
            <input type="number" class="form-control" placeholder="ParentId">
        </div>
    </div>



    <div class="row ">
        <div class="col-sm-6">

            <div class="row" style="padding:15px">
                <div class="col-sm-2">
                    <h2>conversion<br>Factor</h2>
                </div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" placeholder="ConversionFactor">
                </div>
            </div>

        </div>


        <div class="col-sm-6">
            <div class="row" style="padding:15px">
                <div class="col-sm-2">
                    <h2>Status</h2>
                </div>
                <div class="col-sm-10">
                    <select name="" id="" class="form-control">
                        <option>Active</option>
                        <option value="">Deactive</option>
                    </select>
                </div>
            </div>

        </div>


    </div>

    <div class="row ">
        <div class="col-sm-6">


            <div class="row" style="padding:15px">
                <div class="col-sm-2">
                    <h2>CreatedOn</h2>
                </div>
                <div class="col-sm-10">
                    <input class="form-control" [(ngModel)]="currentdate">
                </div>
            </div>

        </div>


        <div class="col-sm-6">
            <div class="row" style="padding:15px">
                <div class="col-sm-2">
                    <h2>CreatedBy</h2>
                </div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="CreatedBy">
                </div>
            </div>

        </div>
    </div>
 -->
